ion-col input{
  /*border-radius: 50px;
  padding:10px;
  background:#c3c3c3;*/

  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 5px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #c0d8c5;
  color:#272727;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;  
  border-radius:20px; 
  border: 3px solid rgb(116, 111, 111);
  text-align: center;
}

ion-col input:focus{
  border: 3px solid rgb(140, 0, 255);
}
